Title: {{ title }}.
Goal: {{ goal }}.
Content:

{% with paragraphs=content -%}
{% include "util/format_paragraphs.jinja" %}
{%- endwith %}

Conclusions:
{% for paragraph in conclusions -%}
{{ paragraph }}
{% if not loop.last -%}
{{ '\n' }}
{%- endif %}
{%- endfor %}
